<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!toggled" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row align-items-center>
      <ion-title *ngIf="!toggled">{{sede.nombre}} / {{ubicacion.nombre}} / {{SubUbicacion.nombre}}</ion-title>
      <ion-col align-items-center *ngIf="toggled" no-padding size="12">
        <ion-searchbar
          #searchbar
          (ionChange)="onInput($event)"
          (ionBlur)="onBlur($event)"
          show-cancel-button>
        </ion-searchbar>
      </ion-col>
      <ion-icon class="sb" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="toolbar2">
    <ion-row align-items-center>
      <ion-col class="art" size="2.5">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="nav-label-numb">{{inventario.numArticulos | number}}</p><p class="nav-label">Articulos</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="2.5">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="buenos nav-label-numb">{{inventario['buenos'] | number}}</p><p class="nav-label">Buenos</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="2.5">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="regulares nav-label-numb">{{inventario["regulares"] | number}}</p><p class="nav-label">Regulares</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="2.5">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="malos nav-label-numb">{{inventario["malos"] | number}}</p><p class="nav-label">Malos</p>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf=listat>
  <ion-grid class="grid">
    <ion-card *ngFor="let articulo of articulos" class="card">
      <ion-img *ngIf='articulo.disponibilidad == "Si"' (click)="open(articulo)" [src]=articulo.imagen></ion-img>
      <ion-img *ngIf='articulo.disponibilidad == "No"' [src]=articulo.imagen></ion-img>
      <ion-card-header>
        <ion-item class="item-card">
          <ion-card-subtitle>articulo</ion-card-subtitle>
          <ion-badge *ngIf='articulo.estado == "Bueno"' color="success" slot="end">Bueno</ion-badge>
          <ion-badge *ngIf='articulo.estado == "Regular"' color="warning" slot="end">Regular</ion-badge>
          <ion-badge *ngIf='articulo.estado == "Malo"' color="danger" slot="end">Malo</ion-badge>
          <ion-badge *ngIf='articulo.disponibilidad == "No"' color="danger" slot="end">Dado de baja</ion-badge>
        </ion-item>
        <ion-item class="item-card" (click)="open(articulo)">
          <ion-card-title>{{articulo.nombre}} </ion-card-title>
          <ion-badge class="badge-card" color="success" slot="end"><b>{{articulo.cantidad | number}}</b></ion-badge>
        </ion-item>
        {{articulo.descripcion}}
      </ion-card-header>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-content *ngIf=resument>
  <ion-grid class="grid">
    <ion-card *ngFor="let articulo of inventario['articulos unicos']" class="card">
      <ion-card-header>
        <ion-item (click)="total(articulo)" class="item-card">
          <ion-card-title>{{ articulo.nombre }}</ion-card-title>
          <ion-badge class="badge-card" color="success" slot="end"><b>{{articulo.cantidad | number}}</b></ion-badge>
        </ion-item>
        <ion-card-content>
          <ion-row align-items-center>
            <ion-col (click)="Buenos(articulo)" class="categoria" size="4">
              <div class="container-side-menu">
                <div>
                  <button class="button button-icon">
                    <p class="buenos nav-label-numb">{{articulo.bueno | number}}</p><p class="nav-label">Buenos</p>
                  </button>
                </div>
              </div>
            </ion-col>
            <ion-col (click)="Regular(articulo)" class="categoria" size="4">
              <div class="container-side-menu">
                <div>
                  <button class="button button-icon">
                    <p class="regulares nav-label-numb">{{articulo.regular | number}}</p><p class="nav-label">Regulares</p>
                  </button>
                </div>
              </div>
            </ion-col>
            <ion-col (click)="Malos(articulo)" class="categoria" size="4">
              <div class="container-side-menu">
                <div>
                  <button class="button button-icon">
                    <p class="malos nav-label-numb">{{articulo.malo | number}}</p><p class="nav-label">Malos</p>
                  </button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-content *ngIf=listaR>
  <ion-item-sliding *ngFor="let articulo of articulosR">
    <ion-item [ngClass]='articulo.disponibilidad'>
      <ion-thumbnail slot="start">
        <ion-img [src]="articulo.imagen"></ion-img>
      </ion-thumbnail>
      <ion-label *ngIf='articulo.disponibilidad == "Si"' (click)="open(articulo)">
        <b>{{ articulo.nombre }}</b> en {{articulo.sede.nombre}} / {{articulo.ubicacion.nombre}} / {{articulo.subUbicacion.nombre}}
      </ion-label>
      <ion-label *ngIf='articulo.disponibilidad == "No"'>
        <b>{{ articulo.nombre }}</b> en {{articulo.sede.nombre}} / {{articulo.ubicacion.nombre}} / {{articulo.subUbicacion.nombre}}
      </ion-label>
      <div class="badgeGrid">
          <ion-badge *ngIf='articulo.estado == "Bueno"' class="badgeCard" color="success" slot="end">Bueno</ion-badge>
          <ion-badge *ngIf='articulo.estado == "Regular"' class="badgeCard" color="warning" slot="end">Regular</ion-badge>
          <ion-badge *ngIf='articulo.estado == "Malo"' class="badgeCard" color="danger" slot="end">Malo</ion-badge>
          <ion-badge *ngIf='articulo.disponibilidad == "No"' class="badgeCard dado_baja" color="danger" slot="end">Dado de baja</ion-badge>
      </div>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option *ngIf='!articulo.etiqueta && articulo.disponibilidad == "Si"' class="sliding-icon-card" (click)="creaEtiqueta(articulo)">
        <ion-icon class="sliding-icon" src="assets/icons/tag-4.svg" slot="end"></ion-icon>
      </ion-item-option>
      <ion-item-option *ngIf='articulo.etiqueta && articulo.disponibilidad == "Si"' class="sliding-icon-card" (click)="Etiqueta(articulo)">
        <ion-icon class="sliding-icon" src="assets/icons/tag-7.svg" slot="end"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon *ngIf='articulo.disponibilidad == "Si"' (click)="BajaArticulo(articulo)" class="sliding-icon" src="assets/icons/document-down-0.svg"></ion-icon>
        <ion-icon *ngIf='articulo.disponibilidad == "No"' (click)="acta2(articulo)" class="sliding-icon" src="assets/icons/document-down-3.svg"></ion-icon>
      </ion-item-option>
      <ion-item-option (click)="RemoveArticulo(articulo)">
        <ion-icon class="sliding-icon" name="trash" slot="end"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbar-footer">
    <ion-buttons slot="secondary">
      <ion-button (click)="lista()">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="ingresoNuevo()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button style="margin: 0 0 0 1em;" (click)="sheet()">
        <ion-icon [class]=sheetData.class slot="icon-only" src="assets/icons/drive-spreadsheet.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="resumen()">
        <ion-icon slot="icon-only" name="stats"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-fab *ngIf=!this.plataforma.desktop class="fab-scan" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="escaner()">
    <ion-icon name="barcode"></ion-icon>
  </ion-fab-button>
</ion-fab>