<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Articulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="articulot">
  <form [formGroup]="newIngresoForm" padding-right>
    <ion-img *ngIf="plataforma.android" (click)="camara()" [src]="Path"></ion-img>
    <label *ngIf="plataforma.desktop">
      <input type="file" style="display: none;" class="button" (change)="onFile($event)">
      <img class="user-image" src="{{Path}}">
    </label>
    <ion-item>
      <ion-chip color="success">
        <ion-icon name="calendar"></ion-icon>
        <ion-label color="dark">{{articulo.creacion}}</ion-label>
      </ion-chip>
      
      <ion-chip color="warning" *ngIf="articulo.modificacion">
        <ion-icon name="calendar"></ion-icon>
        <ion-label color="dark">{{articulo.modificacion}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item (click)="modificaNombre()">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Sede</ion-label>
        <ion-select formControlName="sedefrm" (ionChange)="onSedeChange($event)" okText="Okay" cancelText="Cancelar">
          <ion-select-option *ngFor="let sede of SedesArray" [value]="sede">{{sede.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item *ngIf="UbicacionesArray">
        <ion-label>Ubicacion</ion-label>
        <ion-select formControlName="ubicacionfrm" (ionChange)="onUbicacionChange($event)">
          <ion-select-option *ngFor="let ubicacion of UbicacionesArray" [value]="ubicacion">{{ubicacion.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="SubUbicacionesArray">
        <ion-label>Sub Ubicacion</ion-label>
        <ion-select formControlName="subUbicacionfrm" (ionChange)="onSubUbicacionChange($event)">
          <ion-select-option *ngFor="let SubUbicacion of SubUbicacionesArray" [value]="SubUbicacion">{{SubUbicacion.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="floating">Serie</ion-label>
      <ion-input formControlName="serie"></ion-input>
      <ion-icon (click)="escaner()" class="barcode-icon" name="barcode" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select formControlName="estado">
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Regular">Regular</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Disponible para su uso</ion-label>
      <ion-select formControlName="disponibilidad">
        <ion-select-option value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Observaciones</ion-label>
      <ion-textarea formControlName="observaciones"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor unitario</ion-label>
      <ion-input type="number" formControlName="valor"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-dropup"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="update()"><ion-icon name="done-all"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="RemoveArticulo(articulo)"><ion-icon name="trash"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
