<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
        <ion-img class="logo" src="/assets/images/icono.png"></ion-img>
      <p class="description">Inventario Denzil Escolar.</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form action="" method="post" class="form">
      
        <div class="form__field formGroup">
          <input type="email" placeholder="usuario" #userName required>
        </div>

        <div class="form__field formGroup">
          <input type="password" placeholder="••••••••" #userPassword required>
        </div>

        <!-- <div class="form__field">
          <input type="submit" value="Entrar" (click)="SignIn(userName.value+'@denzilescolar.edu.co', userPassword.value)">
        </div> -->
        <ion-button class="login-btn" color="danger" expand="full" (click)="SignIn(userName.value+'@denzilescolar.edu.co', userPassword.value)">Entrar</ion-button>

      </form>
    </ion-col>
  </ion-row>
</ion-content>