<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row align-items-center>
        <ion-title *ngIf="!toggled">Inventario general</ion-title>
      <ion-col align-items-center *ngIf="toggled" no-padding size="12">
        <ion-searchbar
          #searchbar
          (ionChange)="onInput($event)"
          (ionBlur)="onBlur($event)"
          show-cancel-button>
        </ion-searchbar>
      </ion-col>
          <ion-icon class="sb" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar *ngIf=sedesDataModel class="toolbar2">
    <ion-row align-items-center>
      <ion-col class="sedes" size="2">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="nav-label-numb">{{database.total(sedesDataModel) | number}}</p><p class="nav-label">Sedes</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="1.6">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="nav-label-numb">{{database.cantidad(sedesDataModel) | number}}</p><p class="nav-label">Totales</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="2.45">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="buenos nav-label-numb">{{estados.bueno | number}}</p><p class="nav-label">Buenos</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="2.25">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="regulares nav-label-numb">{{estados.regular | number}}</p><p class="nav-label">regulares</p>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col class="art" size="2.15">
        <div class="container-side-menu">
          <div>
            <button class="button button-icon">
              <p class="malos nav-label-numb">{{estados.malo | number}}</p><p class="nav-label">malos</p>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf=SedesArray>
  <ion-grid class="grid">
    <ion-card *ngFor="let sede of SedesArray" class="card">
      <ion-img (click)="open(sede)" [src]=sede.imagen></ion-img>
      <ion-card-header>
        <ion-item class="item-card">
          <ion-card-subtitle>Sede</ion-card-subtitle>
          <ion-icon (click)="RemoveSede(sede)" name="trash" slot="end"></ion-icon>
          <ion-icon (click)="Editlocacion(sede)" name="create" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="item-card" (click)="open(sede)">
          <ion-card-title>{{sede.nombre}} </ion-card-title>
          <ion-badge class="badge-card" color="success" slot="end"><b>{{sede.cantidad | number}}</b></ion-badge>
        </ion-item>
        {{sede.descripcion}}
      </ion-card-header>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbar-footer">
    <ion-buttons slot="secondary">
      <!-- <ion-button (click)="lista()">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button> -->
      <ion-button (click)="CreateSede()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="sheet()">
        <ion-icon class="verde" slot="icon-only" src="assets/icons/drive-spreadsheet.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="resumen()">
        <ion-icon slot="icon-only" name="stats"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-fab *ngIf=!this.plataforma.desktop class="fab-scan" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="escaner()">
    <ion-icon name="barcode"></ion-icon>
  </ion-fab-button>
</ion-fab>