ion-label{
    white-space: pre-wrap !important;
    // font-weight: bolder;
    font-size: 1.12em;
    // margin: 1em 0 0 0.25em;
}
ion-item{
    cursor: pointer;
    &.No{
        --background: #ffb0b0 !important;
    }
}
ion-alert{
    z-index: 50001 !important;
}
.sliding-icon{
    font-size: 2em;
}
.sliding-icon-card{
    background-color: #d5e4ff !important;
    color: midnightblue;
}
ion-badge{
    margin: 2px;
    font-size: 1em;
    z-index: 10;
    // height: 2em;
    padding: 6.5px;
    cursor: pointer;
}
ion-fab{
    margin: 1em;
}
ion-button{
    margin-inline-end: 1em !important;
    cursor: pointer;
}
ion-note{
  margin: 0 1em 0 0;
}
ion-icon {
    cursor: pointer;
    &.big {
      width: 50px;
      height: 50px;
    }
	
    &.bigger {
      width: 100px;
      height: 100px;
    }
	
    &.verde {
        color: #2a6e19;
        font-size: 1.25rem;
        margin: 1px 0 0 0;
    }
}