<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sedes</ion-title>
  </ion-toolbar>
  <ion-searchbar animated (ionChange)="onInput($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let sede of sedes">
    <ion-item-sliding>
      <ion-item (click)="open(sede)">
        <ion-label>{{sede.nombre}}</ion-label>
        <ion-note slot="end">{{sede.cantidad}} articulos</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="Editsede(sede)">
          <ion-icon name="more" slot="end"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="Removesede(sede)">
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <!-- <ion-item (click)="open(sede)">
      <ion-label>{{sede.nombre}}</ion-label>
      <ion-icon (click)="RemoveSede(sede)" name="trash" slot="end"></ion-icon>
      <ion-icon (click)="Editsede(sede)" name="more" slot="end"></ion-icon>
    </ion-item> -->
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="CreateSede()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
