ion-img{
    //350 x 140
}
.barcode-icon{
    margin: 1em 0 0 0;
}
ion-fab{
    margin: 1em;
}
input[type='file']::-webkit-file-upload-button {
    /* style goes here */
    opacity: 0;
}
ion-label{
    white-space: pre-wrap !important;
}