<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Articulos del inventario</ion-title>
    </ion-toolbar>
    <ion-searchbar animated (ionChange)="onInput($event)"></ion-searchbar>
    <!-- <ion-item>
      <ion-label>{{contadorTotal | number}} Articulos en total</ion-label>
    </ion-item> -->
  </ion-header>
  
  <ion-content>
    <ion-list *ngFor="let articulo of articulos">
      <ion-item>
        <ion-label (click)="Editarticulo(articulo)">{{articulo.nombre}}</ion-label>
        <ion-note  slot="end">{{articulo.cantidad | number}}</ion-note>
        <ion-icon (click)="Removearticulo(articulo)" name="trash" slot="end"></ion-icon>
        <ion-icon (click)="Editarticulo(articulo)" name="more" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="Createarticulo()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
    