<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="escaner()" expand="block">
      <ion-icon slot="start" name="build"></ion-icon>
      <ion-label>Scan QR code App</ion-label>
  </ion-button>
  <ion-button (click)="camara()" expand="block">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Camara</ion-label>
  </ion-button>
  <ion-item *ngIf=Path text-wrap>
    <ion-thumbnail slot="start">
      <ion-img [src]="Path"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <!-- {{ img.name }} -->
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="startUpload(Path)">
      <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- <ion-item>
    
  </ion-item> -->
  <ion-card *ngIf=scanData class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Barcode scaner</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{scanData.text}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
