<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
  <ion-searchbar animated (ionChange)="onInput($event)"></ion-searchbar>
  <ion-item>
    <ion-label> Hay {{cantidad | number}} {{ubicacion.nombre}} con {{contador.ubicacion | number}} articulos</ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list *ngFor="let subUbicacion of subUbicaciones">
    <ion-item-sliding>
      <ion-item (click)="open(subUbicacion)">
        <ion-label>{{subUbicacion.nombre}}</ion-label>
        <ion-note slot="end">{{subUbicacion.cantidad | number}} articulos</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="EditSububicacion(subUbicacion)">
          <ion-icon name="more" slot="end"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="RemoveSububicacion(subUbicacion)">
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <!-- <ion-item (click)="open(subUbicacion)">
      <ion-label>{{subUbicacion.nombre}} - {{subUbicacion.cantidad}} de articulos</ion-label>
      <ion-icon (click)="RemoveSububicacion(subUbicacion)" name="trash" slot="end"></ion-icon>
      <ion-icon (click)="EditSububicacion(subUbicacion)" name="more" slot="end"></ion-icon>
    </ion-item> -->
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="CreateSububicacion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>